@page "/states/create/{countryId:int}"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear estado/departamento</h3>

<StateForm @ref="stateForm" State="state" OnValidSubmit="CreateAsync" ReturnAction="Return" />

@code {
    private State state = new();
    private StateForm? stateForm;

    [Parameter]
    public int countryId { get; set; }

    private async Task CreateAsync()
    {
        state.Countryid = countryId;
        var httpResponse = await repository.Post("/api/states", state);
        if (httpResponse.Error)
        {
            var message = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        Return();
    }

    private void Return()
    {
        stateForm!.formPostedSuccessfully = true;
        navigationManager.NavigateTo($"/countries/details/{countryId}");
    }

}